@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-bg-color: green; /* global scope */
}

@theme {
  --color-wht: rgb(255, 255, 255);
  --color-blk-op-10: rgba(0, 0, 0, 0.1);
  --color-blk-op-20: rgba(0, 0, 0, 0.2);
  --color-blk-op-30: rgba(0, 0, 0, 0.3);
  --color-blk-op-40: rgba(0, 0, 0, 0.4);
  --color-blk-op-50: rgba(0, 0, 0, 0.5);
  --color-blk-op-60: rgba(0, 0, 0, 0.6);
  --color-blk-op-70: rgba(0, 0, 0, 0.7);
  --color-blk-op-80: rgba(0, 0, 0, 0.8);
  --color-blk-op-90: rgba(0, 0, 0, 0.9);
  --color-blk: rgb(0, 0, 0);
}
